
version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "${PORT:-8080}:${PORT:-8080}"
    environment:
      - PORT=${PORT:-8080}
    restart: unless-stopped
    networks:
      - kan_internal_services_net

networks:
  kan_internal_services_net:
    name: kan_internal_services_net
